<ion-content [fullscreen]="true">
  <div class="container min-h-screen flex justify-center flex-col p-4">
    <div class="">
      <img src="/assets/img/logo.png" alt="" class="block mx-auto" srcset="" />
      <div class="border-[1.5px] rounded-2xl border-black">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Verifikasi</ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <form [formGroup]="form">
            <div>
              <ion-input
                label="NO. Handphone"
                class="mt-4"
                type="tel"
                label-placement="floating"
                fill="outline"
                formControlName="number_phone"
                placeholder="628xxxxxx"
              ></ion-input>
            </div>
            <ion-button
              expand="block"
              class="mt-4"
              (click)="submit()"
              color="primary"
              [disabled]="!canSubmit"
              >{{buttonContent}}</ion-button
            >
            <div class="mt-4 ion-text-center">
              Sudah verifikasi?
              <a routerLink="/auth/login" class="text-primary">Login</a>
            </div>
          </form>
        </ion-card-header>
      </div>
    </div>
  </div>
</ion-content>
