<ion-content [fullscreen]="true">
  <app-navbar-top></app-navbar-top>

  <!-- content -->
  <main class="mt-20">
    <ion-item>
      <div
        class="flex bg-primary rounded-2xl p-3 shadow text-white gap-2 items-center"
      >
        <div
          class="rounded-full border-2 border-white h-8 text-xl flex items-center justify-center aspect-square"
        >
          !
        </div>
        <p>{{type?.description}}</p>
      </div>
    </ion-item>
    @for (product of products; track $index) {
    <ion-item class="mt-3">
      <div class="flex justify-between items-center w-full mb-3">
        <div class="flex gap-3 items-center">
          <ion-img [src]="product.image_url" class="h-12"></ion-img>
          <div>
            <h3>{{ product.name }}</h3>
            <div>Rp{{ product?.price }}</div>
          </div>
        </div>
        <div class="flex gap-2 items-center">
          <button (click)="decrementQuantity()" class="text-4xl text-red-500">
            -
          </button>
          <span class="text-2xl">{{ product.quantity }}</span>
          <button (click)="incrementQuantity()" class="text-2xl text-green-500">
            +
          </button>
        </div>
      </div>
    </ion-item>
    }
  </main>
  <!-- /content -->

  <!-- submit -->
  <div class="fixed bottom-[70px] left-0 right-0 flex-col justify-between p-4">
    <div class="flex justify-between">
      <div>10 Quantity</div>
      <div>Rp{{ totalPrice }}</div>
    </div>
    <ion-button expand="block">Beli</ion-button>
  </div>
  <!-- /submit -->

  <app-navbar-bottom></app-navbar-bottom>
</ion-content>
