<ion-content [fullscreen]="true">
  <app-navbar-top></app-navbar-top>

  <main class="mt-16">
    @for (type of types; track $index) {
    <ion-item>
      <a class="w-full h-full flex items-center py-2 gap-3 justify-between">
        <div
          class="flex items-center gap-3 flex-1"
          (click)="goToOrder(type.code)"
        >
          <ion-img [src]="type.image_url" class="h-12"></ion-img>
          <span>{{ type.name }}</span>
        </div>
        <div
          (click)="goToDetail(type.code)"
          class="rounded-full border-2 border-primary text-xl text-primary h-8 w-8 aspect-square flex justify-center items-center"
        >
          !
        </div>
      </a>
    </ion-item>
    }

    <!-- modal detail -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ typeModal.name }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>{{ typeModal.description }}</p>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- /modal detail -->

    <!-- modal order -->
    <ion-modal [isOpen]="isOrderModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Order {{ type.name }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div>
            <ion-select
              label="Pilih Produk"
              label-placement="floating"
              fill="outline"
              [(ngModel)]="form.product_code"
              (ionChange)="selectProduct($event)"
            >
              @for (product of products; track $index) {
              <ion-select-option [value]="product.code"
                >{{product.name}}</ion-select-option
              >
              }
            </ion-select>
          </div>

          <div class="mt-4">
            <ion-select
              label="Pilih Layanan"
              label-placement="floating"
              fill="outline"
              [(ngModel)]="form.service_code"
              (ionChange)="selectService($event)"
            >
              @for (service of services; track $index) {
              <ion-select-option [value]="service.code"
                >{{service.name}}</ion-select-option
              >
              }
            </ion-select>
            <p class="mt-2">
              @if (service) { Rp{{ service?.price }}/{{ type.kiloan ? 'Kg' :
              'Satuan' }} <br />
              {{ service?.description }} }
            </p>
          </div>

          <div class="mt-4">
            <ion-select
              label="Pilih Jasa"
              label-placement="floating"
              fill="outline"
              [(ngModel)]="form.jasa"
              (ionChange)="selectService($event)"
            >
              @for (service of services; track $index) {
              <ion-select-option [value]="service.code"
                >{{service.name}}</ion-select-option
              >
              }
            </ion-select>
            <p class="mt-2">
              @if (service) { Rp{{ service?.price }}/{{ type.kiloan ? 'Kg' :
              'Satuan' }} <br />
              {{ service?.description }} }
            </p>
          </div>

          <div class="mt-4">
            <ion-card>
              <ion-card-content class="text-blue-600">
                {{ type?.description }}
              </ion-card-content>
            </ion-card>
          </div>

          <ion-button expand="block" (click)="submitOrder()" class="mt-4"
            >Checkout</ion-button
          >
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- /modal order -->
  </main>

  <app-navbar-bottom></app-navbar-bottom>
</ion-content>
