<!-- navbar bottom -->
<nav class="fixed bottom-0 left-0 right-0 px-5 py-2 border-t-2 bg-white z-50">
  <ul class="flex justify-between">
    <li>
      <a
        routerLink="/dashboard"
        class="flex flex-col items-center"
        routerLink="/dashboard"
      >
        <ion-img src="/assets/icon/home.png" class="h-8"></ion-img>
        <div>Beranda</div>
      </a>
    </li>
    <li>
      <a routerLink="/pesanan" class="flex flex-col items-center">
        <ion-img src="/assets/icon/pesanan.png" class="h-8"></ion-img>
        <div>Pesanan</div>
      </a>
    </li>
    <li>
      <a href="" routerLink="/akun" class="flex flex-col items-center">
        <ion-img src="/assets/icon/profile.png" class="h-8"></ion-img>
        <div>Profile</div>
      </a>
    </li>
  </ul>
</nav>
<!-- /navbar bottom -->
